@import url(/css/button.css);
@import url(/css/navbar.css);
@import url(/css/footer.css);
@import url(/css/totop.css);

body {
  margin: 0 10% !important;
}

#header .uk-card-body {
  padding-top:20px;
  padding-bottom:20px;
  margin:15px;
  text-align:left;
}

.uk-card-body {
  margin:15px 0px 15px 0px !important;
}


.uk-card-default {
  background: #fdfdfd;
}



